// variables //

// font //

$font-family-base: 			'Helvetica', Tahoma, sans-serif;
$font-family-secondary: 	'Arial', Helvetica, sans-serif;
$font-family-headings: 		'Arial', sans-serif;

$font-size-base: 			16;
$font-size-h1: 				42;
$font-size-h2: 				32;
$font-size-h3: 				26;

$font-weight-light: 		300;
$font-weight-regular: 		400;
$font-weight-semibold: 		600;
$font-weight-bold: 			700;


// layout //

$layout-width-page: 		100%;
$layout-width-content: 		1400;


// colours //

	// defaults

	$color-white: 				#FFFFFF;
	$color-black: 				#000000;